{% extends 'base.html.twig' %}



{% block title %}Voici la liste des detail de stages {% endblock %}

{% block body %}
    <div class="col-md-8">
			<p>
				<li>nom du recruteur : NOM</li>
               <li> Date du stage : DATE</li>
            <p><li> Description du stage : DATE</li></p>
            </p>
		</div>

     {% endblock %}

