{% extends 'base.html.twig' %}



{% block title %}Voici la liste des stages par Entreprise {% endblock %}

{% block body %}
<div class="col-md-8">

    <table class="table">
				<thead>
					<tr>
						<th>
							1
						</th>
						<th>
							1
						</th>
						<th>
							1
						</th>
						<th>
							1
						</th>
					</tr>
				</thead>
				<tbody>
{% for uneEntreprise in entreprises %}

					
					<tr class="table-success">
						<td>
							1
						</td>
						<td>
							<li><code><a href="{{ uneEntreprise.ID }}">PandaLand</a></code></li>
						</td>
						<td>
								{{ uneEntreprise.nom }}
						</td>
						<td>
							 {{uneEntreprise.URLsite }}
						</td>
					</tr>
{% endfor %}
					
				</tbody>
			</table>
		</div>
    

     {% endblock %}
