{% extends 'base.html.twig' %}



{% block title %}Voici la liste des stages par Formation {% endblock %}
{% block body %}
    <div class="col-md-8">
			<p>
				<li>BAC + 5 :<code><a href="{{ './stages/Ardeco'}}">stage</a></code></li>
               <li> BAC + 2 :<code><a href="{{ './stages/PandaLand'}}">stage</a></code></li>
               <li> BAC + 3 :<code><a href="{{ './stages/WiniLand'}}">stage</a></code></li>

            </p>
		</div>
{% endblock %}
